<section id="about">
    <h2><span class="lang-cn">个人简介</span><span class="lang-en">About Me</span></h2>
    <p>
        <span class="lang-cn">香港中文大学高能物理实验博士生在读，对高能理论，高能实验，数理统计，计算机原理，人工智能技术有浓厚兴趣。</span>
        <span class="lang-en">I am currently a Ph.D. student in High Energy Physics Experiment at The Chinese University of Hong Kong. My interests includes high energy theory, high energy experiments, mathematical statistics, computer principles, and artificial intelligence technologies.</span>
    </p>
</section>
