<section id="publications">
    <h2><span class="lang-cn">发表论文</span><span class="lang-en">Publications</span></h2>
    <p>
        <span class="lang-cn">（* 代表通讯作者, † 代表同等贡献）</span>
        <span class="lang-en">(* Corresponding author, † Equal contribution)</span>
    </p>
    <ol class="publications-list">
        <li>
            <strong>Paper Title 1</strong><br>
            Author A, <strong>Your Name</strong>*, Author B.<br>
            <em>Journal or Conference Name</em>, 2025. <br>
            [<a href="#">PDF</a>] [<a href="#">Code</a>] [<a href="#">Cite</a>]
        </li>
        <li>
            <strong>Paper Title 2</strong><br>
            Author C†, <strong>Your Name</strong>†, Author D.<br>
            <em>Journal or Conference Name</em>, 2024. <br>
            [<a href="#">PDF</a>] [<a href="#">Code</a>] [<a href="#">Cite</a>]
        </li>
    </ol>
</section>
