<section id="research">
    <h2><span class="lang-cn">研究方向</span><span class="lang-en">Research Interests</span></h2>
    <ul class="research-list">
        <li><span class="lang-cn">$J/\psi$附近能区散射截面研究</span><span class="lang-en">The study of scattering cross-sections in the energy region near $J/\psi$</span></li>
        <!-- <li><span class="lang-cn">量子色动力学 (QCD) 相变研究</span><span class="lang-en">Quantum Chromodynamics (QCD) phase transitions</span></li> -->
        <li><span class="lang-cn">机器学习在粒子物理中的应用</span><span class="lang-en">Machine Learning applications in particle physics</span></li>
        <li><span class="lang-cn">$H\to WW \to e\nu_e\mu\nu_\mu$的量子纠缠效应研究</span><span class="lang-en">The study of quantum entanglement effects in $H\to WW \to e\nu_e\mu\nu_\mu$</span></li>
    </ul>
</section>
